# **Big Data Analytics [CN7031] CRWK 2025-26**


# **Group ID: [Your Group ID]**
1.   Student 1: Name and ID
2.   Student 2: Name and ID
3.   Student 3: Name and ID
4.   Student 4: Name and ID

---


If you want to add comments on your group work, please write it here for us:


# **Initiate and Configure Spark**

---

In [ ]:
!pip3 install pyspark

In [ ]:
# linking with Spark

# **Data Acquisition & Cleaning: HuggingFace Data [10 marks]**

---

In [ ]:
# Your code here. If you have more than one Data, add more code cells accordingly.


# **Student 1: (Name and ID)**

## The chosen technical tasks 1–4 [each task is worth 20 marks, totaling 80 marks]

---

In [ ]:
# Your chosen task 1: ID and Task Description

In [ ]:
# Your chosen task 2: ID and Task Description

In [ ]:
# Your chosen task 3: ID and Task Description

In [ ]:
# Your chosen task 4: ID and Task Description


# **Student 2: (Name and ID)**

## The chosen technical tasks 1–4 [each task is worth 20 marks, totaling 80 marks]

---

In [ ]:
# Your chosen task 1: ID and Task Description

In [ ]:
# Your chosen task 2: ID and Task Description

In [ ]:
# Your chosen task 3: ID and Task Description

In [ ]:
# Your chosen task 4: ID and Task Description


# **Student 3: (Name and ID)**

## The chosen technical tasks 1–4 [each task is worth 20 marks, totaling 80 marks]

---

In [ ]:
# Your chosen task 1: ID and Task Description

In [ ]:
# Your chosen task 2: ID and Task Description

In [ ]:
# Your chosen task 3: ID and Task Description

In [ ]:
# Your chosen task 4: ID and Task Description


# **Student 4: (Name and ID)**

## The chosen technical tasks 1–4 [each task is worth 20 marks, totaling 80 marks]

---

In [ ]:
# Your chosen task 1: ID and Task Description

In [ ]:
# Your chosen task 2: ID and Task Description

In [ ]:
# Your chosen task 3: ID and Task Description

In [ ]:
# Your chosen task 4: ID and Task Description

# **Convert ipynb to HTML for Turnitin submission [10 marks]**
Individual contributions are clearly well-structured, professionally formatted, and adheres to academic conventions. Clear, error-free language and technical terminology.

---

In [ ]:
# install nbconvert
#!pip3 install nbconvert


# convert ipynb to html
# file name: "Your_Group_ID_CN7031.ipynb
!jupyter nbconvert --to html Your_Group_ID_CN7031.ipynb